@media all and (min-width: 480px) {
    .Signup {
        padding: 60px 0;
    }

    .Signup form {
        margin: 0 auto;
        max-width: 320px;
    }

    /* body {
        background-image: url("D:\project\notes-app-client\src\img2.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    } */
}